* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Tahoma', sans-serif;
	color: #666;
	font-size: 16px;
	background: #f9f9f9;
	line-height: 1.6em;
}
ul, li {
	list-style: none;
}
#container {
	width: 60%;
	margin: 30px auto;
	overflow: auto;
}
h1 {
	text-align: center;
	margin-bottom: 20px;
}
.title {
	height: 40px;
	background: #6bb170;
	color: #fff;
	text-align: center;
	padding-top: 13px;
}
ul li {
	padding: 20px;
}
ul li.q {
	background: #e6e6e6;
	font-weight: bold;
	border-bottom: 1px #ddd solid;
	cursor: pointer;
}
ul li.a {
	background: #c6c6c6;
	display: none;
}
.rotate {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

@media (max-width: 800px) {
	#container {
		width: 90%;
	}
}