body {
	background: red;
	color: white;
	width: 100%;
}
#container {
	margin: 20px auto;
	width: 60%;
	background: blue;
	padding: 20px
}
input[type="submit"] {
	background: red;
	padding: 20px;
	border: 0;
	color: white;
	font-size: 20px;
}